swagger: '2.0'
info:
  title: Ernest API
  description: Developer driven orchestration tool
  version: 1.0.0
host: api.ernest.io
schemes:
  - https
basePath: /
produces:
  - application/json
paths:
  '/auth':
    get:
      summary: Authentication endpoint
      description: |
        Manages user authentication based on jwt tokens
      parameters:
        - name: username
          in: query
          description: Valid account username
          required: true
          type: string
          format: double
        - name: password
          in: query
          description: Valid account password
          required: true
          type: number
          format: double
      tags:
        - Authentication
      responses:
        '200':
          description: A json string containing the token to be used to log in
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: You're not authorized to proceed with the login
  '/api/projects/':
    get:
      summary: List all projects
      description: |
        returns all projects viewable by a logged in user
      produces:
        - application/json
      tags:
        - Projects
      responses:
        '200':
          description: A json array containing all available projects
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
        '403':
          description: You're not authorized to view this resource
    post:
      summary: Create a project
      description: |
        accepts a valid project model
        return a project model populated with an ID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: The project to be created
          schema:
            $ref: '#/definitions/Project'
      tags:
        - Projects
      responses:
        '201':
          description: Returns the created project
          schema:
            $ref: '#/definitions/Project'
        '403':
          description: You're not authorized to view this resource
  '/api/projects/{project}':
    get:
      summary: Get a project
      description: |
        Returns a project by name
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
      tags:
        - Projects
      responses:
        '200':
          description: A json array containing all available projects
          schema:
            $ref: '#/definitions/Environment'
        '403':
          description: You're not authorized to view this resource
        '404':
          description: Resource does not exist
    put:
      summary: Update a project
      description: |
        accepts a valid project model
        return a project model populated with an ID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: body
          in: body
          description: The project to be created
          schema:
            $ref: '#/definitions/Environment'
      tags:
        - Projects
      responses:
        '201':
          description: Returns the created project
          schema:
            $ref: '#/definitions/Environment'
        '403':
          description: You're not authorized to view this resource
    delete:
      summary: Delete a project
      description: |
        return a build model populated with an ID
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: body
          in: body
          description: The project to be created
          schema:
            $ref: '#/definitions/Environment'
      tags:
        - Projects
      responses:
        '202':
          description: Returns the build used to delete a project
          schema:
            $ref: '#/definitions/Build'
        '403':
          description: You're not authorized to view this resource
  '/api/projects/{project}/environments/':
    get:
      summary: List all environments
      description: |
        returns all environments viewable by a logged in user
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
      tags:
        - Environments
      responses:
        '200':
          description: A json array containing all available environments
          schema:
            type: array
            items:
              $ref: '#/definitions/Environment'
        '403':
          description: You're not authorized to view this resource
    post:
      summary: Create a environment
      description: |
        accepts a valid environment model
        return a environment model populated with an ID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: The environment to be created
          schema:
            $ref: '#/definitions/Environment'
      tags:
        - Environments
      responses:
        '201':
          description: Returns the created environment
          schema:
            $ref: '#/definitions/Environment'
        '403':
          description: You're not authorized to view this resource
  '/api/projects/{project}/environments/{environment}':
    get:
      summary: Get a environment
      description: |
        Returns a environment by name
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: environment
          in: path
          description: name of environment to return
          required: true
          type: string
          format: string
      tags:
        - Environments
      responses:
        '200':
          description: A json array containing all available environments
          schema:
            $ref: '#/definitions/Environment'
        '403':
          description: You're not authorized to view this resource
        '404':
          description: Resource does not exist
    put:
      summary: Update a environment
      description: |
        accepts a valid environment model
        return a environment model populated with an ID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: environment
          in: path
          description: name of environment to return
          required: true
          type: string
          format: string
        - name: body
          in: body
          description: The environment to be created
          schema:
            $ref: '#/definitions/Environment'
      tags:
        - Environments
      responses:
        '201':
          description: Returns the created environment
          schema:
            $ref: '#/definitions/Environment'
        '403':
          description: You're not authorized to view this resource
    delete:
      summary: Delete a environment
      description: |
        return a build model populated with an ID
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: environment
          in: path
          description: name of environment to return
          required: true
          type: string
          format: string
        - name: body
          in: body
          description: The environment to be created
          schema:
            $ref: '#/definitions/Environment'
      tags:
        - Environments
      responses:
        '202':
          description: Returns the build used to delete a environment
          schema:
            $ref: '#/definitions/Build'
        '403':
          description: You're not authorized to view this resource
  '/api/projects/{project}/environments/{environment}/builds/':
    get:
      summary: List all builds
      description: |
        returns all builds associated with a environment
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: environment
          in: path
          description: name of environment to return
          required: true
          type: string
          format: string
      tags:
        - Builds
      responses:
        '200':
          description: A json array containing all available environments
          schema:
            type: array
            items:
              $ref: '#/definitions/Build'
        '403':
          description: You're not authorized to view this resource
    post:
      summary: Create a build
      description: |
        accepts a environment's yaml
        return a build model populated with an ID and status
      consumes:
        - application/yaml
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: environment
          in: path
          description: name of environment to return
          required: true
          type: string
          format: string
      tags:
        - Builds
      responses:
        '201':
          description: Returns the created build
          schema:
            $ref: '#/definitions/Build'
        '403':
          description: You're not authorized to view this resource
  '/api/projects/{project}/environments/{environment}/builds/{build}':
    get:
      summary: Get a build
      description: |
        Returns a build by id
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: environment
          in: path
          description: name of environment associated with the build
          required: true
          type: string
          format: string
        - name: build
          in: path
          description: id of build to return
          required: true
          type: string
          format: string
      tags:
        - Builds
      responses:
        '200':
          description: A json array containing all available environments
          schema:
            $ref: '#/definitions/Environment'
        '403':
          description: You're not authorized to view this resource
        '404':
          description: Resource does not exist
  '/api/projects/{project}/environments/{environment}/builds/{build}/definition/':
    get:
      summary: Get the definition used for a build
      description: |
        Returns a build defintion
      produces:
        - application/yaml
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: environment
          in: path
          description: name of environment associated with the build
          required: true
          type: string
          format: string
        - name: build
          in: path
          description: id of build to return
          required: true
          type: string
          format: string
      tags:
        - Builds
      responses:
        '200':
          description: A yaml definition
        '403':
          description: You're not authorized to view this resource
        '404':
          description: Resource does not exist
  '/api/projects/{project}/environments/{environment}/builds/{build}/mapping/':
    get:
      summary: Get the build graph/mapping
      description: |
        Returns a build graph
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: environment
          in: path
          description: name of environment associated with the build
          required: true
          type: string
          format: string
        - name: build
          in: path
          description: id of build to return
          required: true
          type: string
          format: string
      tags:
        - Builds
      responses:
        '200':
          description: A json build graph
        '403':
          description: You're not authorized to view this resource
        '404':
          description: Resource does not exist
  '/api/projects/{project}/environments/{environment}/import/':
    post:
      summary: Import a environment
      description: |
        accepts a environment's yaml
        return a environment model populated with an ID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: environment
          in: path
          description: name of environment to return
          required: true
          type: string
          format: string
        - name: body
          in: body
          description: The environment to be created
          schema:
            $ref: '#/definitions/Import'
      tags:
        - Environments
      responses:
        '201':
          description: Returns the created build
          schema:
            $ref: '#/definitions/Build'
        '403':
          description: You're not authorized to view this resource
  '/api/projects/{project}/environments/{environment}/reapply/':
    post:
      summary: Reapply a previous environment build
      description: |
        accepts a reapply model
        return a environment model populated with an ID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: project
          in: path
          description: name of project to return
          required: true
          type: string
          format: string
        - name: environment
          in: path
          description: name of environment to return
          required: true
          type: string
          format: string
        - name: body
          in: body
          description: The environment to be created
          schema:
            $ref: '#/definitions/Reapply'
      tags:
        - Environments
      responses:
        '201':
          description: Returns the created build
          schema:
            $ref: '#/definitions/Build'
        '403':
          description: You're not authorized to view this resource
definitions:
  Error:
    type: object
    properties:
      token:
        type: string
        description: JWT Token to be used in future connections
  Project:
    type: object
    required:
      - name
      - type
    properties:
      id:
        type: integer
        description: environment id
        readOnly: true
      name:
        type: string
        description: the name of the environment
      type:
        type: string
        description: the type of environment
      credentials:
        $ref: '#/definitions/Credentials'
  Environment:
    type: object
    required:
      - name
      - type
    properties:
      id:
        type: integer
        description: environment id
        readOnly: true
      name:
        type: string
        description: the name of the environment
      type:
        type: string
        description: the type of environment
      status:
        type: string
        description: the status of the environment
        readOnly: true
      options:
        $ref: '#/definitions/EnvironmentOptions'
  EnvironmentOptions:
    type: object
    properties:
      sync:
        type: boolean
        description: sync enablement of the environment
        default: false
      sync_type:
        type: string
        enum:
          - hard
          - soft
        description: the sync configuration of the environment
        default: soft
      sync_interval:
        type: integer
        description: the sync configuration of the environment
        default: hard
  Build:
    type: object
    properties:
      id:
        type: string
        format: uuid
        description: the unique id of the build
      environment_id:
        type: integer
        description: the environment id associated with the build
      user_id:
        type: integer
        description: the user id of the user who created the build
      type:
        type: string
        description: the type of build
        enum:
          - apply
          - import
          - sync
      status:
        type: string
        description: the status of the build
        enum:
          - running
          - errored
          - waiting
          - completed
      started:
        type: string
        format: date-time
        description: the start time of the build
      finished:
        type: string
        format: date-time
        description: the finish time of the build
  Credentials:
    type: object
    properties:
      provider_type:
        type: string
        description: type of credentials
  Import:
    type: object
    properties:
      filters:
        type: array
        description: values that limit the scope of the
  Reapply:
    type: object
    required:
      - build_id
    properties:
      build_id:
        type: string
        description: the build id of the state you wish to return a environment to
